Repository tukcom2023CD/DragonGuard-JinJin, pull requests merged in 2023-06, with the labels that each got.

#142 [#139] service test code
  backend/src/main/java/com/dragonguard/backend/config/kafka/KafkaTopicConfig.java
  backend/src/main/java/com/dragonguard/backend/domain/email/controller/EmailController.java
  backend/src/main/java/com/dragonguard/backend/domain/email/dto/kafka/KafkaEmail.java
  backend/src/main/java/com/dragonguard/backend/domain/email/messagequeue/KafkaEmailConsumer.java
  backend/src/main/java/com/dragonguard/backend/domain/email/messagequeue/KafkaEmailProducer.java
  backend/src/main/java/com/dragonguard/backend/domain/email/service/EmailService.java
  backend/src/main/java/com/dragonguard/backend/domain/member/messagequeue/KafkaContributionClientConsumer.java
  backend/src/main/java/com/dragonguard/backend/domain/member/messagequeue/KafkaContributionClientProducer.java
  backend/src/main/java/com/dragonguard/backend/domain/member/messagequeue/KafkaRepositoryClientConsumer.java
  backend/src/main/java/com/dragonguard/backend/domain/member/messagequeue/KafkaRepositoryClientProducer.java
  backend/src/main/java/com/dragonguard/backend/domain/organization/controller/OrganizationController.java
  backend/src/main/java/com/dragonguard/backend/domain/organization/entity/Organization.java
  backend/src/main/java/com/dragonguard/backend/domain/organization/service/OrganizationService.java
  backend/src/main/java/com/dragonguard/backend/domain/search/controller/SearchController.java
  backend/src/main/java/com/dragonguard/backend/domain/search/dto/request/SearchRequest.java
  backend/src/main/java/com/dragonguard/backend/domain/search/entity/Filter.java
  backend/src/main/java/com/dragonguard/backend/domain/search/service/SearchService.java
  backend/src/test/java/com/dragonguard/backend/domain/admin/controller/AdminControllerTest.java
  backend/src/test/java/com/dragonguard/backend/domain/admin/service/AdminServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/blockchain/controller/BlockchainControllerTest.java
  backend/src/test/java/com/dragonguard/backend/domain/blockchain/service/BlockchainServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/commit/service/CommitServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/email/controller/EmailControllerTest.java
  backend/src/test/java/com/dragonguard/backend/domain/email/service/EmailServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/gitorganization/service/GitOrganizationServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/gitrepo/controller/GitRepoControllerTest.java
  backend/src/test/java/com/dragonguard/backend/domain/gitrepo/service/GitRepoServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/member/controller/AuthControllerTest.java
  backend/src/test/java/com/dragonguard/backend/domain/member/controller/MemberControllerTest.java
  backend/src/test/java/com/dragonguard/backend/domain/member/service/AuthServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/member/service/MemberServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/organization/controller/OrganizationControllerTest.java
  backend/src/test/java/com/dragonguard/backend/domain/organization/service/OrganizationServiceTest.java
  backend/src/test/java/com/dragonguard/backend/domain/search/service/SearchServiceTest.java
  backend/src/test/java/com/dragonguard/backend/support/database/LoginTest.java
  backend/src/test/java/com/dragonguard/backend/support/fixture/blockchain/entity/BlockchainFixture.java
  backend/src/test/java/com/dragonguard/backend/support/fixture/member/dto/MemberRequestFixture.java
  backend/src/test/java/com/dragonguard/backend/support/fixture/member/entity/MemberFixture.java
  backend/src/test/java/com/dragonguard/backend/support/fixture/organization/entity/OrganizationFixture.java
  backend/src/test/java/com/dragonguard/backend/support/kafka/consumer/KafkaEmailConsumerImpl.java
  backend/src/test/java/com/dragonguard/backend/support/kafka/producer/KafkaEmailProducerImpl.java
Labels: test

#144 [#132] iOS repo detail & all Ranking Refactoring
  ios/ios.xcodeproj/project.pbxproj
  ios/ios.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/ios/Assets.xcassets/Etc.imageset/Contents.json
  ios/ios/Assets.xcassets/Etc.imageset/Etc.png
  ios/ios/Assets.xcassets/backBtn.imageset/Contents.json
  ios/ios/Assets.xcassets/backBtn.imageset/backBtn.png
  ios/ios/Assets.xcassets/firstRank.imageset/Contents.json
  ios/ios/Assets.xcassets/firstRank.imageset/firstRank.png
  ios/ios/Assets.xcassets/link.imageset/Contents.json
  ios/ios/Assets.xcassets/link.imageset/link.png
  ios/ios/Assets.xcassets/secondRank.imageset/Contents.json
  ios/ios/Assets.xcassets/secondRank.imageset/secondRank.png
  ios/ios/Assets.xcassets/thirdRank.imageset/Contents.json
  ios/ios/Assets.xcassets/thirdRank.imageset/thirdRank.png
  ios/ios/Delegate/SceneDelegate.swift
  ios/ios/Extension.swift
  ios/ios/Model/Refactoring/AllUserRankingModel.swift
  ios/ios/View/MainScreen/MainController.swift
  ios/ios/View/MainScreen/WatchRankingScreen/Refactoring/AllUserRankingController.swift
  ios/ios/View/MainScreen/WatchRankingScreen/Refactoring/CustomUnderRanking/AllUserTableviewCell.swift
  ios/ios/View/MainScreen/WatchRankingScreen/Refactoring/CustomUnderRanking/CustomUserView.swift
  ios/ios/View/MainScreen/WatchRankingScreen/Refactoring/TopRanking/CustomETCRankingUserViewElementView.swift
  ios/ios/View/MainScreen/WatchRankingScreen/Refactoring/TopRanking/CustomFirstRankingUserViewElementView.swift
  ios/ios/View/MainScreen/WatchRankingScreen/Refactoring/TopRanking/CustomTopView.swift
  ios/ios/View/MainScreen/WatchRankingScreen/Refactoring/TopRanking/UserProfileImageView.swift
  ios/ios/View/SearchController/Refactoring/SearchViewController.swift
  ios/ios/View/SearchController/Refactoring/Search_Filter/ChooseLanguageView.swift
  ios/ios/View/SearchController/Refactoring/Search_Filter/SearchAndFilterController.swift
  ios/ios/View/SearchController/RepositoryContritubutorInfo/Refactoring/RepoDetailController.swift
  ios/ios/View/SearchController/RepositoryContritubutorInfo/Refactoring/UserListCollectionViewCell.swift
  ios/ios/View/SearchController/RepositoryContritubutorInfo/RepoContributorInfoController.swift
  ios/ios/View/SearchController/SearchPageController.swift
  ios/ios/ViewModel/Refactoring/AllRankingViewModel.swift
Labels: refactoring

#149 [#148] 로그인 화면
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Assets.xcassets/2.imageset/2.png
  ios/ios/Assets.xcassets/2.imageset/Contents.json
  ios/ios/Assets.xcassets/KlipIcon.imageset/Contents.json
  ios/ios/Assets.xcassets/KlipIcon.imageset/KlipIcon.png
  ios/ios/Assets.xcassets/githubIcon.imageset/Contents.json
  ios/ios/Assets.xcassets/githubIcon.imageset/githubIcon.png
  ios/ios/Delegate/SceneDelegate.swift
  ios/ios/View/LoginController/CustomLoginButton.swift
  ios/ios/View/LoginController/KlipLoginCheckview 2.swift
  ios/ios/View/LoginController/KlipLoginCheckview.swift
  ios/ios/View/LoginController/LoginController.swift
Labels: refactoring

#153 [#152] 비교하기 Refactoring
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Delegate/SceneDelegate.swift
  ios/ios/View/CompareViewController/CompareChooseRepoViewController.swift
  ios/ios/View/CompareViewController/CompareCollectionViewCell.swift
  ios/ios/View/CompareViewController/CompareRepoUserController.swift
  ios/ios/View/CompareViewController/CompareTableViewCell.swift
  ios/ios/View/CompareViewController/CustomUIView/ContributorUIView.swift
  ios/ios/View/CompareViewController/CustomUIView/CustomUIView.swift
  ios/ios/View/CompareViewController/CustomUIView/UserUIButton.swift
  ios/ios/View/LoginController/LoginController.swift
  ios/ios/View/RankingController/AllUserRankingController.swift
  ios/ios/View/RankingController/CustomUnderRanking/AllUserTableviewCell 2.swift
  ios/ios/View/RankingController/CustomUnderRanking/AllUserTableviewCell.swift
  ios/ios/View/RankingController/CustomUnderRanking/CustomUserView.swift
  ios/ios/View/RankingController/TopRanking/CustomETCRankingUserViewElementView 2.swift
  ios/ios/View/RankingController/TopRanking/CustomETCRankingUserViewElementView.swift
  ios/ios/View/RankingController/TopRanking/CustomFirstRankingUserViewElementView.swift
  ios/ios/View/RankingController/TopRanking/CustomTopView.swift
  ios/ios/View/RankingController/TopRanking/UserProfileImageView.swift
Labels: refactoring

#156 [#151] ios api connect
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Delegate/SceneDelegate.swift
  ios/ios/Model/Refactoring/AllUserRankingModel.swift
  ios/ios/Model/Refactoring/DetailRepoModel.swift
  ios/ios/Model/Refactoring/SearchResultModel.swift
  ios/ios/Model/UserInfoModel.swift
  ios/ios/NotUseView/MainScreen/MainController.swift
  ios/ios/NotUseView/MainScreen/WatchRankingScreen/AllRanking/AllRankingController.swift
  ios/ios/NotUseView/MainScreen/WatchRankingScreen/WatchRankingController.swift
  ios/ios/NotUseView/SearchController/SearchPageController.swift
  ios/ios/Services/ALLUserInfoService.swift
  ios/ios/Services/AllOrganizationRankingService.swift
  ios/ios/Services/Refactcoring/RepoDetailService.swift
  ios/ios/Services/SearchPageService.swift
  ios/ios/Services/TypeOrganizationRankingService.swift
  ios/ios/View/LoginController/LoginController.swift
  ios/ios/View/RankingController/AllRanking/AllUserRankingController.swift
  ios/ios/View/RankingController/AllRanking/CustomUnderRanking/AllUserTableviewCell 2.swift
  ios/ios/View/RankingController/AllRanking/CustomUnderRanking/AllUserTableviewCell.swift
  ios/ios/View/RankingController/AllRanking/CustomUnderRanking/CustomUserView.swift
  ios/ios/View/RankingController/AllRanking/SelectionCollectionViewCell.swift
  ios/ios/View/RankingController/AllRanking/TopRanking/CustomETCRankingUserViewElementView 2.swift
  ios/ios/View/RankingController/AllRanking/TopRanking/CustomETCRankingUserViewElementView.swift
  ios/ios/View/RankingController/AllRanking/TopRanking/CustomFirstRankingUserViewElementView.swift
  ios/ios/View/RankingController/AllRanking/TopRanking/CustomTopView.swift
  ios/ios/View/RankingController/AllRanking/TopRanking/UserProfileImageView.swift
  ios/ios/View/RankingController/CompanyRanking/CompanyRankController.swift
  ios/ios/View/RepoDetailController/RepoDetailController.swift
  ios/ios/View/SearchController/SearchViewController.swift
  ios/ios/View/SearchController/Search_Filter/SearchAndFilterController.swift
  ios/ios/View/SettingScreen/Certification/AddOrganization/AddOrganizationController.swift
  ios/ios/View/SettingScreen/Certification/CertificationEmail/CertificationEmailController.swift
  ios/ios/View/YourProfile/Contributor'sInfoUIView.swift
  ios/ios/View/YourProfile/RepositoryListTableViewCell.swift
  ios/ios/View/YourProfile/RepositoryListTableViewInUIView.swift
  ios/ios/View/YourProfile/RepositoryListUIView.swift
  ios/ios/View/YourProfile/YourProfileController.swift
  ios/ios/ViewModel/ALLUserInfoViewModel.swift
  ios/ios/ViewModel/Refactoring/AllRankingViewModel.swift
  ios/ios/ViewModel/Refactoring/RepoDetailViewModel.swift
  ios/ios/ViewModel/Refactoring/SearchPageViewModel.swift
  ios/ios/ViewModel/SearchPageViewModel.swift
Labels: refactoring

#162 [#161] 배치처리 비동기 및 멀티 스레딩, 테스트코드 추가
  backend/build.gradle
  backend/src/main/java/com/dragonguard/backend/BackendApplication.java
  backend/src/main/java/com/dragonguard/backend/config/batch/AdminApiToken.java
  backend/src/main/java/com/dragonguard/backend/config/batch/AsyncJobLauncherConfig.java
  backend/src/main/java/com/dragonguard/backend/config/batch/GitRepoClientJobConfig.java
  backend/src/main/java/com/dragonguard/backend/config/batch/GitRepoMemberBatchClient.java
  backend/src/main/java/com/dragonguard/backend/config/batch/GitRepoReader.java
  backend/src/main/java/com/dragonguard/backend/config/batch/JobScheduler.java
  backend/src/main/java/com/dragonguard/backend/config/batch/NoOpWriter.java
  backend/src/main/java/com/dragonguard/backend/config/batch/WebClientJobConfig.java
  backend/src/main/java/com/dragonguard/backend/config/github/GithubProperties.java
  backend/src/main/java/com/dragonguard/backend/config/properties/PropertiesConfig.java
  backend/src/main/java/com/dragonguard/backend/domain/gitrepo/client/GitRepoMemberClient.java
  backend/src/main/java/com/dragonguard/backend/domain/gitrepo/dto/batch/GitRepoBatchRequest.java
  backend/src/main/java/com/dragonguard/backend/domain/gitrepo/dto/batch/GitRepoBatchResponse.java
  backend/src/main/java/com/dragonguard/backend/domain/gitrepo/repository/GitRepoRepository.java
  backend/src/main/java/com/dragonguard/backend/domain/gitrepo/repository/JpaGitRepoRepository.java
  backend/src/main/java/com/dragonguard/backend/domain/gitrepomember/entity/GitRepoMember.java
  backend/src/main/java/com/dragonguard/backend/domain/member/repository/MemberRepository.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/dragonguard/backend/batch/WebClientJobBatchTest.java
  backend/src/test/java/com/dragonguard/backend/support/batch/BatchTestConfig.java
  backend/src/test/java/com/dragonguard/backend/support/batch/GitRepoBatchTest.java
Labels: bug
